<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-light bg-light justify-content-between">

            <b><h2 style="color: #28A745;">Tarea 1</h2></b>

            <form action="/search" class="form-inline my-2 my-lg-0">
                <!-- <label for="s">Search characters:</label><br> -->
                <input class="form-control mr-sm-2" type="search" id="s" name="s" placeholder="Search"><br><br>
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search!">
            </form>
        </nav>

        {% block content %} 
        {% endblock %}


    </body>
</html>